@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

*{

    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {

    background-color: rgb(0, 132, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    height: auto;
    position: relative;
    left: 5px;
}

h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: italic;
    position: relative;
    right: 5px;
}

h5 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: left;
    position: relative;
}

ul {

    font-family: 'Be Vietnam Pro', sans-serif;
    list-style-type: none;
}

section {
    font-family: 'Be Vietnam Pro', sans-serif;
}

footer {
    background-color: rgb(0, 132, 255);
    font-family: 'Be Vietnam Pro', sans-serif;
    height: 40px;
    margin-top: auto;
    text-align: center;
}

.imgCentrada {
    display: flex;
    margin: auto;
    max-width: 100%;
    justify-content: center;
}

.imgRes {
    height: 200px;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

legend {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

div {
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
}

input[type=text] {
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    border-radius: 4px;
  }

input[type=submit], input[type=reset] {
    background-color: #7B00FF;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    margin: 8px 8px;
    cursor: pointer;
    border-radius: 4px;
}

textarea {
        max-width: 70%;
        height: 150px;
        padding: 12px 20px;
        margin: 8px 8px;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
}

.txtCenter {
    text-align: center;
}

.fa {
    padding: 13px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
.fa-facebook {
    background: #3B5998;
    color: white;}

.fa-instagram {
        background: #bf0ed6;
        color: white;
      }

a {
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
}

.padreUl {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 5px;
}

.navIcon {
    display: none;
}

.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.shadow-pop-tl {
	-webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@media screen and (max-width: 480px) {

    .h2Mobile {
        display: none;
    }

    .imgMobile {
        display: flex;
        max-width: 100%;
    }

    .h1Mobile {
        font-size: 15px;
    }

    .navIcon {
        display: inline-block;
        display: flex;
        max-width: 50%;
        justify-content: space-around;
    }

    .navText{
        display: none;
    }

    .txtMobile {
        font-size: 17px;
    }

     .inputMobile {
         width: 50%;
     }

    .ftMobile{
        height: auto;
        font-size: 15px;
    }

}



/**
 * ----------------------------------------
 * animation scale-up-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }

/**
 * ----------------------------------------
 * animation shadow-pop-tl
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  